/* ALL BODY */

body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
} 

/*BUTTONS*/

button {
    border-radius: 100px;
    border: 2px solid whitesmoke;
    background-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*HEADER*/

header {
    height: 167px;
    width: 600px;
    margin: 0 auto;
    background-image: url('./img/header.png');
}

/*MAIN MENU*/

section {
    margin: 0 auto;
    width: 508px;
    border-bottom: 2px solid #FFF;
}

.meal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 2px solid whitesmoke;
}

.menu-info{
    width: 300px;
}

/*ORDER LIST*/

#restaurant-order {
    visibility: hidden;
}

ul {
    border-bottom: 1px solid black;
}

#order-button {
    width: 508px;
    height: 60px;
    margin: 0 auto;
    background-color: #16DB99;
    color: white;
    border-radius: 1px;
    font-family: verdana, sans-serif;
    font-weight: bold;
}

#total-price {
    padding: 30px 0;
}

li {
    margin-left: -40px;
    width: 100px;
    padding-bottom: 10px;
    list-style: none;
}

/*TYPHOLOGY*/

.bold {
    font-weight: bold;
    font-size: 28px;
}

.light {
    font-weight: lighter;
}





